*/OLD*
00_data/P18257
00_data/Trimmed/P18257_*
00_data/Trimmed/multiqc_data/
00_data/Trimmed/*.sge.*
00_data/PolyA_Removal/*Bases*
00_data/PolyA_Removal/P18257_*/*q
00_data/PolyA_Removal/P18257_*/*.gz
00_data/PolyA_Removal/P18257_*/*runPRINSEQ.sge*
00_data/rRNA_Filter/P18257_101/OLD*
00_data/rRNA_Filter/P18257_*/runSortMeRNA*
00_data/rRNA_Filter/P18257_*/*fastq.gz
00_data/rRNA_Filter/P18257_*/out/*fastq
00_data/rRNA_Filter/P18257_*/idx
00_data/rRNA_Filter/P18257_*/kvdb
00_data/rRNA_Filter/R05*
01_mapping/*.tar.gz
01_mapping/References/
01_mapping/VsTranscriptome/References/
01_mapping/VsGeneModels/
01_mapping/VsMicrobiome/
01_mapping/VsTranscriptome/
01_mapping/VsReferenceGenome/MappingResults.md
01_mapping/VsReferenceGenome/TEMPLATE_runHisat2.sge
01_mapping/TranscriptomeVsReferenceGenome/
01_mapping/VsReferenceGenome/P18257_*
01_mapping/VsReferenceGenome/*.tar.gz
01_mapping/VsTranscriptome/P18257_*/runBowtie2.*.sge
01_mapping/VsTranscriptome/P18257_*/runBowtie2.*.sge.o*
01_mapping/VsTranscriptome/P18257_*/*.bam
01_mapping/VsTranscriptome/P18257_*/*.bai
01_mapping/VsReferenceGenome/StricterMapping/*/*_sorted*
02_assembly/DeNovo/
02_assembly/*.fasta
03_quantification/
04_DiffExp/*.tar.gz
04_DiffExp/*.sh
04_DiffExp/*.sge*
04_DiffExp/*.lst
04_DiffExp/*.txt
04_DiffExp/*GO*.tsv
04_DiffExp/FAT1*
04_DiffExp/GetLFCs.R
04_DiffExp/GetRestingOnly.R
04_DiffExp/AllGenesPlot.R
04_DiffExp/TMixClust.R
04_DiffExp/forMAplots.R
04_DiffExp/topGO.Smar.R
04_DiffExp/InterestingResults*
04_DiffExp/NormalisedCountGraphs_*
04_DiffExp/*v1.1.*
04_DiffExp/*/*.gff
04_DiffExp/*/*.rds
04_DiffExp/README_v8.md
04_DiffExp/TEMPLATE_README.md
04_DiffExp/PathwayLists/
04_DiffExp/*FINAL/lfc_0/
04_DiffExp/*FINAL/lfc_1/
04_DiffExp/*FINAL/LFCs.*.lfc0.585.tsv
04b_DiffExp_Salmon.tar.gz
05_annotation/
06_clustering/
07_28S/
08_GenesToLookFor/0_*
08_GenesToLookFor/*.md
08_GenesToLookFor/GeneChecks/
08_GenesToLookFor/Always*
08_GenesToLookFor/Both*
08_GenesToLookFor/*v1.1.6*
08_GenesToLookFor/AAnitrogen/
08_GenesToLookFor/AllNames.tsv
08_GenesToLookFor/ChenEtAl_ThaPse.lst
08_GenesToLookFor/Up*
08_GenesToLookFor/Down*
08_GenesToLookFor/FraCy_genes/
08_GenesToLookFor/HalftimeHeatmap/
08_GenesToLookFor/Heatmaps*2022
08_GenesToLookFor/Heatmaps_Formatted/
08_GenesToLookFor/OppositeDirections/
08_GenesToLookFor/OrganelleLocalisation/
08_GenesToLookFor/findannot.sh
09_TimePointClustering/
