00_data/P18257
00_data/Trimmed/P18257_*
00_data/Trimmed/multiqc_data/
00_data/Trimmed/*.sge.*
00_data/PolyA_Removal/*Bases*
00_data/PolyA_Removal/P18257_*/*q
00_data/PolyA_Removal/P18257_*/*.gz
00_data/PolyA_Removal/P18257_*/*runPRINSEQ.sge*
00_data/rRNA_Filter/P18257_101/OLD*
00_data/rRNA_Filter/P18257_*/runSortMeRNA*
00_data/rRNA_Filter/P18257_*/*fastq.gz
00_data/rRNA_Filter/P18257_*/out/*fastq
00_data/rRNA_Filter/P18257_*/idx
00_data/rRNA_Filter/P18257_*/kvdb
00_data/rRNA_Filter/R05*
01_mapping/*.tar.gz
01_mapping/References/
01_mapping/VsTranscriptome/References/
01_mapping/VsMicrobiome/P18257_*
01_mapping/VsReferenceGenome/P18257_*
01_mapping/VsReferenceGenome/*.tar.gz
01_mapping/VsTranscriptome/P18257_*/runBowtie2.*.sge
01_mapping/VsTranscriptome/P18257_*/runBowtie2.*.sge.o*
01_mapping/VsTranscriptome/P18257_*/*.bam
01_mapping/VsTranscriptome/P18257_*/*.bai
02_assembly/DeNovo/
02_assembly/runTarZip.sge*
02_assembly/*.fasta
03_quantification/*.fasta
03_quantification/runSalmon*.sge.*
03_quantification/P18257_*
03_quantification/MappingBasedMode/P18257_*
03_quantification/MappingBasedMode/OLD_README.md
03_quantification/MappingBasedMode/Smar_*_DeNovo.NoDups.WithDecoys*
03_quantification/MappingBasedMode/decoys.txt
03_quantification/MappingBasedMode/
03_quantification/MappingBasedMode/runSalmon.*.sge.o*
03_quantification/MappingBasedMode/runSalmonIndex.sge.e*
*/OLD*
