# Results from multiple test runs

| Sample |           Test run           |  Mapping %  |       Notes       |
|--------|------------------------------|-------------|-------------------|
|  R05   | BAM method, per transcript   | 76.92-86.39 | Samples OK        |
|  R05   | BAM method, per gene         | 76.92-86.39 | Samples OK        |
|  R05   | Index method, per transcript | 62.10-68.41 | Samples jumbled   |
|  R05   | Index method, per gene       | 62.10-68.41 | Samples OK        |
|--------|------------------------------|-------------|-------------------|
|  GF04  | BAM method, per transcript   | 73.91-82.46 | _136 out of place |
|  GF04  | BAM method, per gene         | 73.91-82.46 | _136 out of place |
|  GF04  | Index method, per transcript | 63.76-73.44 | Samples OK        |
|  GF04  | Index method, per gene       | 63.76-73.44 | _136 out of place |
